@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Metal+Mania'); */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
* {
    font-family: Raleway;
    box-sizing: border-box;
    color: #777;
}
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero/Booter - Zero Zero.woff") format("woff");
}
html, body {
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
nav ul {
    margin: 0;
}
.main-header {
    background-image: url("image/liquid_soap_background.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: difference;
    padding-bottom: 30px;
    /* background-position: left; */
    /* background-repeat: no-repeat; */
}
.main-header h1 {
    color:blue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li {
    padding: 0 5%;
}
.band-name {
    text-align: center;
    font-family: "Booter - Zero Zero";
    margin: 0;
    font-size: 4em;
    font-weight: normal;
}
.band-name-large {
    font-size: 8em;
}
.section-content{
    margin: 1em;
    text-align: justify;
    line-height: 1.6;
    font-size: 22px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header{
    /* font-family: "Metal Manial"; */
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;    
}
.liquid-soap-image{
    float: left;
    margin: 15px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 0;
}
.main-footer{
    background-color: #56ccF2;
    color: white;
    padding: .25em 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* text-align: center; */
}
.main-footer-container img{
    width: 32px;
    height: auto;
}
.y{
    margin-left: 10px;
}
.btn{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .67em;
}
.btn-header{
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cd0;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}   
.btn-header:hover{
    background-color: rgba(255, 255, 255, .3);
}
.btn-play{
    display: block;
    margin: 0 auto;
    color: #2d9cd0;
    padding: 0;
    font-size: 4em;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.product-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.product-row:last-child{
    border-bottom: none;
}
.product-name{
    padding-right: .5em;
    display: inline-block;
}
.product-name2{
    color: #555;
    font-weight: bold;
    width: 17%;
}
.product-location{
    width: 34%;
}
.product-factory{
    /* width: 42%; */
}
.product-btn{
    max-width: 21%;
}
.btn-primary{
    color: white;
    background-color: #56ccf2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #2d9cd6;
}
.shop-item{
    margin: 30px;
}
.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image{
    height: 250px;
}
.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}
.shop-item-price{
    flex-grow: 1;
    color: #333;
}
.shop-item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-row{
    display: flex;
}
.cart-item{
    width: 45%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-price{
    width: 20%;
    color: #333;
    font-size: 1.2em;
}
.cart-quantity{
    width: 35%;
}
.cart-item-title{
    margin-left: .5em;
    font-size: 1.2em;
    color: #333;
}
.cart-item-image{
   width: 75%;
   height: auto;
   border-radius: 5px;
}
.btn-danger{
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;

}
.btn-danger:hover{
    background-color: #CC4C4C;
}
.cart-quantity-input{
    height: 34px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row:last-child{
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
    border-bottom: none;
}
.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 20px;
}
.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 10px;
}
.cart-total-price{
    color: #333;
    font-size: 1.1em;
}
.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}